html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: #3D372C;
}

p {
    font-size: 1.6rem;
}

h3 {
    font-size: 2.4rem;
}

h2 {
    font-size: 3.2rem;
}

h1 {
    font-size: 4.0rem;
}